{% extends 'base.html' %}

{% block title %}
Department | hospi
{% endblock title %}

{% block content %}
<h1 class="m-3">Departments</h1>
<hr>


<div class="container-fluid p-5"></div>
<div class="row justify-content-evenly">
    {% for col in dept %}
        <div class="col-3 bg-success m-2" style="border-radius: 20px;">
            <img width="100%" src="" alt="image">
            <h2>{{col.dep_name}} </h2>
            <p>{{col.dep_discription}}</p>
        </div>
    {% endfor %}
</div>
</div>

<!-- 

<div class="container-fluid p-5">
    <div class="row justify-content-evenly">
        <div class="col-3 bg-success" style="border-radius: 20px;">
            <img width="100%" src="" alt="image">
            <h2>{{dep_name}} </h2>
            <p>discription</p>
        </div>
        <div class="col-3 bg-success" style="border-radius: 20px;">
            <img width="100%" src="" alt="image">
            <h2>Name : </h2>
            <p>discription</p>
        </div>
        <div class="col-3 bg-success" style="border-radius: 20px;">
            <img width="100%" src="" alt="image">
            <h2>Name : </h2>
            <p>discription</p>
        </div>
    </div>
</div> -->

{% endblock content %}